@(users: List[models.User], answerForm: Form[Answer])


@import helper._

<h1>Daily Jeopardy</h1>



@form(routes.Jeopardy.submitAnswer){
	<fieldset>
		@select(
			field = answerForm("userId"),
			options = users.foldLeft(Seq[(String, String)]())( (all, current) => all:+(current._id.get.stringify , current.displayName.get)),
			args = '_label -> "Select a user"
		)

		@inputText(
			field = answerForm("answer"),
			args = '_label ->  "Enter your answer",
				'placeholder -> "What/Who/Where is...",
				'_showConstraints -> false
		)

	</fieldset>
	<input type="submit" value="Submit"/>
	<!--<button id="submitBtn" >Submit</button>-->
}
	<div id="serverResponse"></div>

