@(users: List[models.User], userForm: Form[models.User])

@import helper._  

@main("All Users") {
    
    <h1>Current Users (@users.size)</h1>

    <ul>
        @if(users.isEmpty){
            <li>No users found</li>
        }else{
        	@users.map { user =>
        		<li>
        			@user.firstName @user.lastName : @user.email : id= @user._id

                    @form(routes.SignUp.deleteUser(user._id.get.stringify)){
                        <input type="submit" value="Delete"/>
                    }

        		</li>
        	}
        }
    </ul>
 	
    @form(routes.SignUp.newUser){

        <firldset>
            <legen><h3>Add a new User</h3></legen>
                @inputText(
                    field = userForm("firstName"),
                    args = '_label -> "Name:", 'placeholder -> "First", '_showConstraints -> false
                )

                @inputText(
                    field = userForm("lastName"),
                    args = '_label -> "", 'placeholder -> "Last", '_showConstraints -> false
                )

                @inputText(
                    field = userForm("email"),
                    args = '_label -> "Email Address:", 
                        'size -> 30, 
                        'placeholder -> "your.name@gmail.com", 
                        '_showConstraints -> false,
                        '_help -> "Enter a valid email address"
                )

                @inputText(
                    field = userForm("displayName"),
                    args = '_label -> "Display Name:"
                )
            <input type="submit" value="Create"/>
        </firldset>
    }
}
